@charset "UTF-8";

*{
    background-color: white;
    color: black;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bolder;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#explicacao{
  margin: 10px;
  font-size: 1em;
}
main{
    padding: 20px;
}
div{
    margin: 20px;
    padding: 30px;
    background-color: rgba(255, 0, 0, 0.233);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.822);
    box-sizing: border-box;
}
div p{
    background-color: rgba(255, 0, 0, 0.068);
}
#iproducao{
    background-color: rgba(255, 0, 0, 0.473);
    color: white;
    padding: 5px;
    border-radius: 5%;
    margin: 10px;
}
#iproducao:hover{
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.534);
}
#ibotaocalculo{
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 20px;
    border-radius: 5%;
    border-style: none;
}
#ibotaocalculo:hover{
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.589);
    margin-bottom: 10px;
}

footer{
    margin-top: 30px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
